* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
	background-color: #4f8a8b;
	font-family: "Times New Roman", Times, serif;
	
}
h1{
	font-size: 175%;
	color: #fbd46d;
	text-align: center;
	margin-top: 2%;
	margin-bottom: 4%;

}

section{
	border: 1px solid #7c3c21;
	float: left;	
	background-color: #222831;
	margin: 1%;
}

p.text{
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	color: #fbd46d;
	clear: right;
	text-align: justify;
	padding: 2%;
}

#title-1,#title-2,#title-3{
	font-size: 125%;
	font-weight: bold;
	margin-top: 0px;
    float: right;
    border: 1px solid #7c3c21;
    padding-top: 1%;
    padding-right: 10%;
    padding-bottom: 1%;
    padding-left: 10%;
}

#title-1{
	background-color: #3282b8;
}

#title-2{
	background-color: #f08a5d;
}

#title-3{
	background-color: #f3c623;
}
/* Design for desktop devises*/
@media (min-width: 992px){
	section{
		width: 31.33%;
	}
}

/*Design for tablet devises*/
@media (min-width: 768px) and (max-width: 991px){
	#section1,#section2{
		width: 48%;
	}

	#section3{
		width: 98%;
	}
}

/*Design for mobile devises*/
@media (max-width: 767px){
	section{
		width: 80%;
		margin-left: 10%;
		margin-right: 10%;
	}
}																																				